
.custom-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 500px;
    text-align: center;

    td, th {
      border: 1px solid #dddddd;
      padding: 8px;
      position: relative;
    }

    .tr-info:hover {
      background-color: var(--color-primary);
      cursor: pointer;
      color: white;
    }

    .rase {
      color: rgba($color: red, $alpha: 1);
    }

    .down {
      color: rgba($color: green, $alpha: 1);
    }

   
}
