.currency-info {

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 0 20px 0;
    }

    &__title {
        color: var(--color-main);
        text-align: center;
        width: 100%;
    }
    &__timestamp {
        width: 100%;
        text-align: center;
    }

    &__link {
        margin: 20px 0;
        border: none;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        width: 80px;
        background-color: transparent;
        height: 30px;
        border-radius: 5px;
        transition: all .3s;
        cursor: pointer;
        
        &:hover {
            background-color: var(--color-primary);
            color: white;
        }
        &:active {
            background-color: var(--color-primary);
            color: white;
            transform: scale(0.95);
        }
    }
}